<div class="login-container">
    <h2 class="login-title">Central de Laudos</h2>
  
    <mat-card class="login-card">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="password">
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="onLogin()">Entrar</button>
    </mat-card>
  </div>
  