<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="menu-wrapper">
      <div>
        <div class="user-info">
          <mat-icon>account_circle</mat-icon>
          <span class="username">{{ username }}</span>
        </div>

        <mat-nav-list>
          <a
            *ngIf="isAdmin()"
            mat-list-item
            class="item"
            routerLink="/medicos"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Médicos
          </a>
          <a
            *ngIf="isAdmin()"
            mat-list-item
            class="item"
            routerLink="/usuarios"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Usuários
          </a>
          <a
            *ngIf="isMedicoExecutante"
            mat-list-item
            class="item"
            routerLink="/templates"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Templates
          </a>
          <a
            mat-list-item
            class="item"
            routerLink="/laudos"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Laudos
          </a>
        </mat-nav-list>
      </div>

      <div class="logout-button">
        <a mat-list-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span class="logout-text">Sair</span>
        </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
